[submodule "src/lib/webserve"]
	path = src/lib/webserve
	url = https://github.com/The-city-not-present/webserve.git
[submodule "src/lib/qre"]
	path = src/lib/qre
	url = https://github.com/The-city-not-present/questionnaire.git
